body {
    color: rgb(85,231,255);
    background-color: rgb(32,17,72);
    font-family: impact, arial, sans-sarif;
}

#navBar {
    color: rgb(258, 78, 239);
    list-style-type: none;
    background-color: rgb(255,52,179);
}

#navBar > li {
    display: inline;
    padding: 10px;
    color: rgb(85,231,255);
    font-size: x-large;
    position: relative; bottom: 8px;
}


/* centers the platform buttons */
#choice {
    text-align: center;
}

@media only screen and (max-width: 400px) {
    #choice{
    width: 60%;
    }
}

#choice > p {
    padding-top: 200px;
    text-align: center;
    color:rgb(85,231,255);
}

/* places the three buttons on the same lines */
.platformButton {
    display: inline-block;
    max-width: 128px;
    max-height: 128px;
}

#carousel > figure > img{
    display: none;
    margin: 0px auto;
}

#carousel > figure.visible > img {
    display: block;
    position: relative;
    overflow: hidden;
}

#carousel > figure > figcaption {
    display: none;
}

#carousel > figure.visible > figcaption {
    display: block;
    text-align: center;
}

#carousel figure {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    }

.addInfoCaption {
    line-height: 18px;
    letter-spacing: 0.5px;
    margin-top: 5px;
}
  
  .socialLogin {
    transform: translateY(50%);
    color: rgb(32,17,72);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border: 3px solid rgb(255,52,179);
  }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type=checkbox] {
      text-align: center;
  }

.or {
    text-align: center;
  }

.loginButton {
    text-align:center;
}

.signup {
    text-align: center;
}

.rememberme {
    text-align: center;
}


/* attempt at dropdown content

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

*/

