body {
    background-color: rgb(33,14, 94);
}
#synthBackground {
    background-size:100%;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

#navBar {
    color: rgb(258, 78, 239);
    list-style-type: none;
}

#navBar > li {
    display: inline;
    padding: 20px 20px;
}